<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        <style>
                table,th,td {
                    border: 1px solid black;
                }
            </style>
    </head>
<body>
    <h1>
        <a href="/">Home</a>
        <a href="/newtask">Add New Task</a> 
        <a href="/deletetask">Delete One Task</a>
        <a href="/deleteall">Delete All Task</a>
        <a href="/updatetask">Update Task</a>
    </h1>

    
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Assign To</th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Description</th>
        </tr>
        <% for (let i =0; i< taskList.length; i++){ %>
            <tr>
                <td>
                    <%=taskList[i].taskID%>
                </td>
                <td>
                    <%=taskList[i].taskName%>
                </td>
                <td>
                    <%=taskList[i].taskPerson%>
                </td>
                <td>
                    <%=taskList[i].taskDue%>
                </td>
                <td>
                    <%=taskList[i].taskStatus%>
                </td>
                <td>
                    <%=taskList[i].taskDesc%>
                </td>                
            </tr>
        <%}%>
    </table>
   

</body>

</html>